.main-page {
  margin: 20 px auto;
  width: 1000px;
  font-family: Arial;
}
.main-page {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}
.main-page input {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20 px;
}

.bottom {
  position: absolute;
  bottom: 8px;
}
