<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/app.css" />

    <title>Home</title>
  </head>
  <body>
    <h1>Home page!</h1>
    <ul>
      {% for user in users %}
      <li>
        <a href="/users/{{user.id}}">{{user.first_name}} {{user.last_name}} </a>
      </li>
      {% endfor %}
    </ul>
    <h2>Add New User</h2>
    <form action="/users/new" method="POST">
      <input type="text" name="first_name" placeholder="First Name" />
      <input type="text" name="last_name" placeholder="Last Name" />
      <input type="url" name="image_url" placeholder="Image URL" />
      <button>Submit User</button>
    </form>
  </body>
</html>
