<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{posts.title}} Post</title>
  </head>
  <body>
    <h2>{{posts.title}}</h2>
    <p>{{posts.content}}</p>
    <p>By {{posts.user.first_name}} {{posts.user.last_name}}</p>
    <p>On {{posts.created_at}}</p>

    <p>
      <h2> Edit Post </h2>
      <form action="/posts/{{posts.id}}/edit" method="POST">
    
      Title <input type="text" name="title"  />
      Content <input type="text" name="content" />
      <button>Edit Post</button>
    
    </p>
    <form action="/posts/{{posts.id}}/delete" method="POST">
      <h2> Delete Post </h2>
      <button> Delete </button>
      </form>


    <p>
      <a href="/users/{{posts.user.id}}">Go Back</a>
    </p>
  </body>
</html>
